x64
x86
Debug
bin
.vs
out
Release
tmp
build
obj
*.tlog
*.lastbuildstate
/SplitPlay.zip
/SplitPlay/
Profiles
/src/SplitPlay/SplitPlayHost/imgui.ini
/src/SplitPlay/tmp
/src/SplitPlay/build
/src/SplitPlay/obj
